<div class="container">
  <div class="q-form">
      <h3>Log In To Questioner</h3>
      <p class="welcome-back-msg">Welcome back</p>

      <p *ngIf="authError" class="auth-process__feedback">
        {{ authError }}
      </p>
      <form
        role="form" 
        class="login-form" 
        id="login-form" 
        method="POST" 
        [formGroup]="loginForm"
        (ngSubmit)="submitLoginForm()">
        <p class="user-feedback error"></p>
        <div class="q-form__group">
          <label for="userEmail" class="q-form__label">Email</label>
          <input 
            type="email" 
            placeholder="johndoe@email.com"
            id="userEmail"
            name="email" 
            class="q-form__input" 
            required
            formControlName="email"
          >
          <!-- <span class="input-validation-feedback">Must be a valid email address</span> -->
        </div>

        <div class="q-form__group password-input">
          <label for="userPwd" class="q-form__label">Password</label>
          <input 
            type="password" 
            placeholder="********" 
            id="userPwd" 
            name="password" 
            class="q-form__input"
            pattern="(?=.*\d)(?=.*[a-z]).{8,}" 
            autocomplete="off" 
            required
            formControlName="password"
            >
          <!-- <button class="toggle-password-visibility" type="button">
            show
          </button> -->
          <!-- <span class="input-validation-feedback"></span> -->
          <span id="forgot-pwd"><a href="./reset-password.html">Forgot password?</a></span>
        </div>
    
        <button class="q-form__button q-large__button">Login</button>
      </form>
    
      <div class="social-media__links--option-rule">
        <span class="social-media__links--signup-option">OR</span>
      </div>
    
      <div class="social-media__links">
        <ul>
          <li>
            <a href="#!" class="google">
              <img src="../../../assets/icons/google.svg" alt="A red horizontal box with a Google icon and text" />
              <span>Sign In with Google</span>
            </a>
          </li>
    
          <li>
            <a href="#!" class="facebook">
              <img src="../../../assets/icons/facebook-white.svg" alt="A blue horizontal box with a Facebook icon and text" />
              <span>Sign In with Facebook</span>
            </a>
          </li>
        </ul>
      </div>
    
      <p class="sign-up__link">
        Not Registered Yet? <a href="./sign-up.html">Sign Up</a>
      </p>
  </div>
</div>