.toggle-password-visibility {
  position: absolute;
  top: 27px;
  right: 0;
  border: 1px solid #116466;
  background-color: #116466;
  color: #fff;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0 3px 3px 0;

  .toggle-password__image {
    width: 25px;
    height: 25px;
  }
}